{% from 'macro-veld.html' import weergaveveld %}
{% extends "basis.html" %}

{% block title %}Registratie {% endblock title%}

{% block content %}
    <h2>Registreer hier!</h2>

    <form action="{{ url_for('registratie') }}", method="POST">
        {{ weergaveveld(form.gebruikersnaam, 'Gebruikersnaam', autocomplete="off", autofocus=true) }}
        {{ weergaveveld(form.wachtwoord, 'Wachtwoord') }}
        <div class="form-group">
            <input type="submit" value="Aanmaken" class="btn btn-warning">
        </div>
        {{ form.csrf_token }}
    </form>

    <hr>

    <p>Al geregistreerd? <a href={{url_for('index')}}><span style="color: #996699">Log hier in</span></a>.</p>
{% endblock %}